/* Main */

.M_MainHead {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding-top: 180rem;
  width: fit-content;
  margin: 0 auto;
}

.M_MainH2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8rem;
  margin-left: 64rem;
}

/* Random */

.M_RandomHeading {
  margin: 0 auto;
}

.M_RandomPageDescription {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 64rem;
  padding: 200rem 120rem;
  margin-left: 500rem;
  width: 720rem;
  height: 500rem;
}

/* Constructor */

.M_ConstructorHeading {
  margin: 0 auto;
}

.M_ConstructorPresets {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 64rem;
}

.M_ConstructorInput {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24rem;
}

/* Articles Page */

.M_ArticlesPageHeading {
  margin: 0 auto;
}

.M_ArticleCardLink {
  text-decoration: none;
  display: block;
}

.M_ArticlesSearchFilters {
  display: flex;
  flex-wrap: wrap;
  gap: 12rem;
  align-items: flex-start;
}

/* Article Content */

.M_ArticlesHeading {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding-top: 180rem;
  width: fit-content;
  margin: 0 auto;
}

.M_TestHeading {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding-top: 180rem;
  width: fit-content;
  margin: 0 auto;
}

.M_AnswerText {
  display: flex;
  align-items: center;
  gap: 36rem;
  align-self: stretch;
}

.M_AnswerText input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  width: 48rem;
  height: 48rem;
  background: black;
  flex-shrink: 0;
  position: relative;
  cursor: pointer;
}

.M_AnswerText input[type="checkbox"]:checked {
  background: #ff65a6;
}

.M_AnswerText input[type="checkbox"]:hover {
  outline: 3rem solid #ff65a6;
}

/* Test 3 */

.M_TestGuessAnswerRow {
  display: flex;
  align-items: center;
  gap: 24rem;
  align-self: stretch;
  cursor: pointer;
}

.M_TestGuessResultBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 28rem;
  padding-top: 10rem;
}
