.W_SearchContainer {
  position: relative;
  display: flex;
  align-items: center;
  border: none;
}

.W_Header_all_links {
  gap: 64rem;
  display: flex;
  align-items: center;
  padding-right: 16rem;
}

.W_Header_all_links > a {
  color: var(--White);
  font-family: Impact;
  font-size: 32rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
  text-align: right;
  padding-bottom: 8rem;
}

.W_Header_all_links > a.hd {
  position: relative;
  display: inline-block;
  z-index: 0;
}

/* Main */

.W_MainPageContent {
  display: flex;
  padding-top: 96rem;
  padding-bottom: 130rem;
  flex-direction: column;
  align-items: center;
  gap: 189rem;
  align-self: stretch;
}

.W_MainButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2%;
  width: 100%;
}

.W_ReadButtonLink {
  grid-column: 2;
  grid-row: 2;
  width: 520rem;
  display: flex;
  justify-content: center;
  margin-top: 20rem;
}

/* AbousUsPage */

.W_AboutContent {
  display: flex;
  padding-top: 96rem;
  padding-bottom: 130rem;
  flex-direction: column;
  align-items: center;
  gap: 216rem;
  align-self: stretch;
}

/* Interactives */

.W_InterContent {
  display: flex;
  padding-top: 96rem;
  padding-bottom: 130rem;
  flex-direction: column;
  align-items: center;
  gap: 200rem;
  align-self: stretch;
}

/* Create */

.W_CreateContent {
  display: flex;
  padding-top: 96rem;
  padding-bottom: 230rem;
  flex-direction: column;
  align-items: center;
  gap: 148rem;
  align-self: stretch;
}

.W_GenImages {
  width: 888rem;
  height: 381rem;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 67rem;
}

/* Random */

.W_RandomContent {
  display: flex;
  padding-top: 96rem;
  padding-bottom: 230rem;
  flex-direction: column;
  align-items: center;
  gap: 319rem;
  align-self: stretch;
}

.W_RandomPageRight {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 620rem;
  height: 600rem;
}

/* ArticlesSearch */

.W_SearchContent {
  display: flex;
  padding: 226rem 64rem 130rem 64rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 99rem;
  align-self: stretch;
}

.W_Tags {
  display: flex;
  height: 69rem;
  padding-right: 71rem;
  align-items: flex-start;
  gap: 24rem;
  align-self: stretch;
}

/* ArticleContent */

.W_ArticleContent {
  display: flex;
  width: 1920rem;
  padding: 230rem 220rem;
  flex-direction: column;
  align-items: center;
  gap: 180rem;
}

.W_MainButtons {
  display: flex;
  width: 1415.971rem;
  justify-content: space-between;
  align-items: center;
}

.M_ArticleHead > .W_Tags {
  margin: 0 auto;
}

/* Tests */

.W_TestsContent {
  display: flex;
  padding-top: 96rem;
  padding-bottom: 230rem;
  flex-direction: column;
  align-items: center;
  gap: 200rem;
  align-self: stretch;
}

/* Test 1 */

.W_TestWhoContent {
  display: flex;
  width: 1920rem;
  padding: 153.5rem 64rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 116rem;
}

.W_TestContent {
  display: flex;
  width: 1920rem;
  height: 938rem;
  padding-top: 96rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 136rem;
}

/* Puzzle */

.W_PuzzleContent {
  position: relative;
  display: flex;
  padding: 230rem 64rem 180rem;
  flex-direction: column;
  align-items: center;
  gap: 79rem;
  align-self: stretch;
  min-height: 1150rem;
  overflow: hidden;
}

/* Test 3 */

.W_ButtonsBox {
  display: flex;
  width: 387rem;
  height: 130rem;
  padding-right: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20rem;
  flex-shrink: 0;
}

/* 404 */

.W_NotFound {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 96rem;
  width: 1920rem;
  flex-direction: column;
  margin-bottom: -130rem;
}

/* SearchPage */

.W_SearchPage {
  display: flex;
  width: 1920rem;
  padding-top: 196rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 117rem;
}

/* Styleguide */

.W_StyleguideTextBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32rem;
}

.W_StyleguideContent {
  display: flex;
  width: 1341rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 200rem;
  flex-shrink: 0;
}

.W_LogosGood {
  display: flex;
  align-items: center;
  gap: 97rem;
  align-self: stretch;
}

.W_LogosBad {
  display: flex;
  width: 1243rem;
  height: 244rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 42rem;
}

.W_AllLogosBad {
  display: flex;
  align-items: center;
  gap: 81rem;
  align-self: stretch;
}

.W_ColorsAll {
  display: flex;
  align-items: center;
  gap: 16rem;
  align-self: stretch;
}

.W_FontsContent {
  display: flex;
  align-items: flex-start;
  gap: 216rem;
}

.W_PhotosAll {
  display: flex;
  align-items: center;
  gap: 80rem;
}
