.W_SearchContainer {
  position: relative;
  display: flex;
  align-items: center;
  border: none;
}

.C_Dropdown {
  position: absolute;
  top: calc(100% + 16rem);
  left: 0;
  width: 100%;
  display: none;
  flex-direction: column;
  gap: 12rem;
  z-index: 9999;
}

.M_SearchResult {
  display: flex;
  flex-direction: column;
  gap: 8rem;
  padding: 16rem 20rem;
  background: var(--Pink);
  border: 3rem solid var(--White);
  text-decoration: none;
}

.A_SearchResultHeader {
  margin: 0;
  color: var(--White);
  font-family: Impact;
  font-size: 28rem;
  line-height: 100%;
}

.A_SearchResultDescription {
  margin: 0;
  color: var(--White);
  font-family: "Inter";
  font-size: 18rem;
  line-height: 110%;
}

/* это сверху для серчбара костыль потом уберу */

.W_Header_all_links {
  gap: 64rem;
  display: flex;
  align-items: center;
  padding-right: 16rem;
}

.W_Header_all_links > a {
  color: var(--White);
  font-family: Impact;
  font-size: 32rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
  text-align: right;
  padding-bottom: 8rem;
}

.W_Header_all_links > a.hd {
  position: relative;
  display: inline-block;
  z-index: 0;
}

/* Main */

.W_MainPageContent {
  display: flex;
  padding-top: 96rem;
  padding-bottom: 130rem;
  flex-direction: column;
  align-items: center;
  gap: 189rem;
  align-self: stretch;
}

.W_MainButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2%;
  width: 100%;
}

.W_ReadButtonLink {
  grid-column: 2;
  grid-row: 2;
  width: 520rem;
  display: flex;
  justify-content: center;
  margin-top: 20rem;
}

/* AbousUsPage */

.W_AboutContent {
  display: flex;
  padding-top: 96rem;
  padding-bottom: 130rem;
  flex-direction: column;
  align-items: center;
  gap: 216rem;
  align-self: stretch;
}

/* Interactives */

.W_InterContent {
  display: flex;
  padding-top: 96rem;
  padding-bottom: 130rem;
  flex-direction: column;
  align-items: center;
  gap: 200rem;
  align-self: stretch;
}

/* Create */

.W_CreateContent {
  display: flex;
  padding-top: 96rem;
  padding-bottom: 230rem;
  flex-direction: column;
  align-items: center;
  gap: 148rem;
  align-self: stretch;
}

.W_GenImages {
  width: 888rem;
  height: 381rem;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 67rem;
}

/* Random */

.W_RandomContent {
  display: flex;
  padding-top: 96rem;
  padding-bottom: 230rem;
  flex-direction: column;
  align-items: center;
  gap: 319rem;
  align-self: stretch;
}

.W_RandomPageRight {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 620rem;
  height: 600rem;
}

/* ArticlesSearch */

.W_SearchContent {
  display: flex;
  padding: 226rem 64rem 130rem 64rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 99rem;
  align-self: stretch;
}

.W_Tags {
  display: flex;
  height: 69rem;
  padding-right: 71rem;
  align-items: flex-start;
  gap: 24rem;
  align-self: stretch;
}

.W_Articles {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  column-gap: 129rem;
  row-gap: 160rem;
  justify-content: center;
}

/* ArticleContent */

.W_ArticleContent {
  display: flex;
  width: 1920rem;
  padding: 230rem 220rem;
  flex-direction: column;
  align-items: center;
  gap: 180rem;
}

.W_MainButtons {
  display: flex;
  width: 1415.971rem;
  justify-content: space-between;
  align-items: center;
}

.M_ArticleHead > .W_Tags {
  margin: 0 auto;
}

/* Tests */

.W_TestsContent {
  display: flex;
  padding-top: 96rem;
  padding-bottom: 230rem;
  flex-direction: column;
  align-items: center;
  gap: 200rem;
  align-self: stretch;
}

/* Test 1 */

.W_TestWhoContent {
  display: flex;
  width: 1920rem;
  padding: 153.5rem 64rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 116rem;
}

.W_TestContent {
  display: flex;
  width: 1920rem;
  height: 938rem;
  padding-top: 96rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 136rem;
}

/* Test 2 */

.W_PuzzleGame {
  width: 1700rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-bottom: 140rem;
  box-sizing: border-box;
}

.W_PuzzleBoardZone {
  width: 1700rem;
  min-height: 1120rem;
  position: relative;
  display: flex;
  justify-content: center;
}

.W_PuzzlePiecesLayer {
  position: absolute;
  inset: 0;
  z-index: 5;
}

/* Test 3 */

.W_ButtonsBox {
  display: flex;
  width: 387rem;
  height: 130rem;
  padding-right: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20rem;
  flex-shrink: 0;
}

/* 404 */

.W_NotFound {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 96rem;
  width: 1920rem;
  flex-direction: column;
  margin-bottom: -130rem;
}
