/* Main */

.O_ArticlesCards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 604rem;
  margin: auto;
  gap: 130rem;
  align-self: stretch;
}

.O_BlockInfo {
  width: 831rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40rem;
}

/* Interactives */

.O_Cards {
  display: flex;
  width: 1568rem;
  height: 625rem;
  justify-content: center;
  align-items: flex-end;
  gap: 130rem;
}

/* Create */

.O_GenCreate {
  display: flex;
  width: 888rem;
  height: 783rem;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  gap: 42rem;
  flex-shrink: 0;
}

/* Random */

.O_RandomPageContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Constructor */

.O_ConstructorContent {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  max-width: 1760rem;
  gap: 130rem;
}

/* Articles Page */

.O_ArticlesSearch {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40rem;
}

/* Article Content */

.O_ArticleSect {
  display: flex;
  align-items: flex-start;
  gap: 212rem;
}

/* Test 1 */

.O_Test {
  width: 100%;
  height: 800rem;
  padding-top: 100rem;
}

/* Test 2 */

.O_PuzzleGame {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 100rem;
  min-height: 1250rem;
}

/* Test 3 */

.O_TestGuess {
  width: 100%;
  min-height: 920rem;
  padding-top: 100rem;
}
