/* Main */

.S_MainHeadSection {
  width: 100%;
  height: 971rem;
  padding: 196rem 249rem 250rem 248rem;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.25rem;
  position: relative;
  overflow: hidden;
}

.S_ArticlesSection {
  display: flex;
  width: 1795rem;
  max-width: calc(100% - 128rem);
  flex-direction: column;
  align-items: flex-start;
  gap: 110rem;
  position: relative;
}

.S_RandomSection {
  display: flex;
  width: 1795rem;
  max-width: calc(100% - 128rem);
  height: 606rem;
  justify-content: space-between;
  align-items: flex-start;
  gap: 287rem;
}

/* AboutUsPage */

.S_BasicHeadSection {
  width: 100%;

  height: 971rem;
  display: flex;
  padding: 270rem 332rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  align-self: stretch;
  overflow: hidden;
  position: relative;
}

.S_InfoSect {
  display: flex;
  width: 1786rem;
  height: 606rem;
  justify-content: space-between;
  align-items: flex-start;
  gap: 135rem;
}

.S_MemSect {
  display: flex;
  width: 1786rem;
  height: 608rem;
  justify-content: space-between;
  align-items: flex-start;
  gap: 177rem;
}

.S_YouSect {
  display: flex;
  width: 1786rem;
  height: 606rem;
  justify-content: space-between;
  align-items: flex-start;
  gap: 213rem;
}

/* interactives */

.S_Generate {
  display: flex;
  width: 1792rem;
  height: 786rem;
  justify-content: center;
  align-items: flex-start;
  gap: 118rem;
}

.S_InteractivesPromo {
  position: relative;
  width: 100%;
  height: 1300rem;
  gap: 72rem;
}

/* Random */

.S_RandomAll {
  display: flex;
  width: 1800rem;
  height: 1100rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 100rem;
  padding-top: 180rem;
  margin: auto;
  position: relative;
}

/* Constructor */

.S_Constructor {
  display: flex;
  width: 1800rem;
  height: 1100rem;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 65rem;
  padding-top: 180rem;
  margin: auto;
  position: relative;
}

/* Articles Content */

.S_ArticleLefty,
.S_ArticleRighty {
  width: 1700rem;
  height: 972rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0 auto;
  position: relative;
  padding-top: 180rem;
  gap: 72rem;
}

/* 404 */

.S_NotFound {
  position: relative;
  width: 1700rem;
  height: 700rem;
  margin: 180rem auto;
}

.S_NotFoundBackground {
  position: absolute;
  width: 1920rem;
  height: 1080rem;
  z-index: -10;
  top: -190rem;
  left: -140rem;
  overflow: hidden;
}
