@media (max-width: 440px) {
  /* about */

  p {
    font-size: 60rem;
  }

  .txt::after {
    -webkit-text-stroke: 14rem #000;
  }

  .hd::after {
    -webkit-text-stroke: 14rem #000;
  }

  h1 {
    font-size: 132rem;
  }

  h1.hd::after {
    -webkit-text-stroke: 28rem #000;
  }

  h2 {
    font-size: 70rem;
  }

  button {
    width: 514rem;
    height: 155rem;
    font-size: 50rem;
  }

  .txt-img {
    display: inline-block;
    position: absolute;
    width: 60rem;
    height: 60rem;
    margin-left: 14rem;
    margin-right: 14rem;
  }

  .hd-img {
    width: 106rem;
    height: 106rem;
    margin-left: 24rem;
    margin-right: 24rem;
  }

  /* header */

  nav {
    width: 100vw;
    height: 125rem;
  }

  .logo-img {
    width: 279.196rem;
    height: 176.252rem;
    margin-left: 142rem;
    margin-right: 150rem;
  }

  /* блок про нас */

  .about-us {
    height: 2300rem;
  }

  .about-title {
    left: 500rem;
  }

  .abt-image-1 {
    width: 640rem;
    height: 529rem;
    top: 364rem;
    right: 140rem;
  }

  .abt-frame-1 {
    width: 920rem;
    height: 929rem;
    top: 154rem;
    right: 3rem;
  }

  .abt-header {
    width: 800rem;
  }

  .abt-text-2 {
    width: 900rem;
    position: absolute;
    top: 906rem;
    left: 170rem;
  }

  .shape {
    position: absolute;
    top: 1300rem;
    left: -100rem;
    width: 1300rem;
    max-width: 100%;
    height: auto;
    display: block;
  }

  .shape__video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  /* блок что такое мем */

  .what {
    height: 900rem;
  }

  .abt-image-2 {
    width: 500rem;
    height: 500rem;
    top: 145rem;
    left: 185rem;
  }

  .abt-frame-2 {
    width: 750rem;
    top: 4rem;
    left: 53rem;
  }

  .abt-header-2-1 {
    width: 475rem;
    position: absolute;
    top: 110rem;
    right: 622rem;
  }

  .abt-header-2-2 {
    width: 275rem;
    position: absolute;
    top: 110rem;
    right: 442rem;
  }

  .abt-header-2-3 {
    width: 275rem;
    position: absolute;
    top: 110rem;
    right: 82rem;
  }

  .timg-1-abt {
    width: 60rem;
    height: 60rem;
    top: 120rem;
    right: 705rem;
  }

  .timg-2-abt {
    width: 60rem;
    height: 60rem;
    top: 120rem;
    right: 345rem;
  }

  .txt-img {
    display: inline-block;
    position: static;
    margin: 0 24rem;
    vertical-align: middle;
  }

  .abt-text-3 {
    width: 775rem;
    position: absolute;
    top: 240rem;
    right: 120rem;
  }

  /* блок от меня что требуется */

  .info {
    height: 2831rem;
  }

  .abt-image-3 {
    width: 709rem;
    height: 500rem;
    top: 335rem;
    right: 110rem;
  }

  .abt-frame-3 {
    width: 920rem;
    height: 929rem;
    top: 114rem;
    right: 13rem;
  }

  .abt-header-3-1 {
    width: 516.693rem;
    top: 320rem;
    left: 170rem;
  }

  .abt-header-3-2 {
    width: 470rem;
    top: 320rem;
    left: 610rem;
    z-index: 2;
  }

  .timg-3-abt {
    width: 60rem;
    height: 60rem;
    top: 325rem;
    left: 510rem;
  }

  .shape-2 {
    top: 1000rem;
  }

  .abt-text-4 {
    width: 750rem;
  }

  .abt-header-4-1 {
    width: 430.937rem;
    bottom: 630rem;
    left: 995rem;
  }

  .abt-header-4-2 {
    width: 500.937rem;
    position: absolute;
    bottom: 630rem;
    right: -50rem;
    z-index: 2;
  }

  .timg-4-abt {
    width: 60rem;
    height: 60rem;
    bottom: 630rem;
    right: 450rem;
  }

  .abt-text-5 {
    width: 750rem;
    position: absolute;
    bottom: 240rem;
    right: 170rem;
  }

  .abt-button-1 {
    bottom: 1rem;
    left: 195rem;
  }

  .abt-button-2 {
    bottom: 1rem;
    right: 170rem;
  }

  .abt-button-3 {
    top: 800rem;
    left: 170rem;
  }

  /* главная главарь головная */

  .indx-articles {
    height: 1331rem;
  }

  .main-title-1 {
    top: 120rem;
    left: 700rem;
  }

  .main-title-2 {
    left: 970rem;
  }

  .ind-img-1 {
    top: 110rem;
    left: 1250rem;
  }

  .ind-img-2 {
    top: 110rem;
    left: 860rem;
  }

  .art-prev-frame {
    width: 854.692rem;
    height: 858rem;
    position: absolute;
    pointer-events: none;
    z-index: 0;
  }

  .a-prev-index-1 {
    left: 100rem;
  }

  .a-prev-index-2 {
    right: 1000rem;
  }

  .a-prev-img-1 {
    top: 100rem;
    left: 170rem;
    height: 513.886rem;
    width: 513.886rem;
  }

  .a-prev-img-2 {
    top: 100rem;
    left: 170rem;
    height: 513.886rem;
    width: 513.886rem;
  }

  .a-1 {
    top: 650rem;
    left: 250rem;
  }

  .a-2 {
    top: 650rem;
    left: 390rem;
  }

  .indx-random {
    width: 100vw;
    height: 1931rem;
    position: relative;
    overflow: hidden;
  }

  .main-title-3 {
    top: 120rem;
    left: 700rem;
  }

  .ind-img-3 {
    top: 115rem;
    left: 1140rem;
  }

  .ind-rand-container {
    top: 300rem;
    left: 280rem;
  }

  .ind-rand-txt {
    width: 650rem;
    position: absolute;
    top: 1350rem;
    right: 620rem;
  }

  .indx-rand-frame {
    width: 1267.106rem;
    height: 1090.467rem;
  }

  .ind-rand-btn {
    top: 1650rem;
    right: 730rem;
  }

  .ind-rand {
    width: 900rem !important;
    height: 650rem !important;
    top: 230rem !important;
    left: 200rem !important;
  }

  /* статьи */

  .list-articles {
    height: 96vh;
  }

  .a-prev-1 {
    position: absolute;
    top: 700rem;
    left: 180rem;
    transform: scale(1.4);
  }

  .a-prev-2 {
    position: absolute;
    top: 2000rem;
    right: 1400rem;
    transform: scale(1.4);
  }

  .articles-text {
    width: 600rem;
    position: absolute;
    bottom: 400rem;
    left: 700rem;
  }

  /* сами статьи */

  .article-body {
    height: 96vh;
  }

  .art-hd {
    width: 1450rem;
    left: 250rem;
  }

  .art-frame-1 {
    top: 550rem;
  }

  .art-img {
    top: 705rem;
  }

  .art-text-2 {
    top: 1390rem;
  }

  .art-title-2 {
    top: 1946rem;
    left: 167rem;
  }

  .art-text-3 {
    width: 850rem;
    top: 2180rem;
    left: 167rem;
  }

  .art-text-4 {
    top: 2756rem;
    left: 167rem;
  }

  .art-text-5 {
    width: 820rem;
    position: absolute;
    top: 2116rem;
    left: 167rem;
  }

  .art-text-6 {
    width: 850rem;
    position: absolute;
    top: 2864rem;
    left: 167rem;
  }

  .tik-tok-video {
    width: 669.716rem;
    height: 845.065rem;
    bottom: 850rem;
    right: 119rem;
  }

  .art-back {
    bottom: 402rem;
    left: 700rem;
  }

  /* конструкто */

  .create-meme-page {
    height: 91vh;
  }

  .create-title {
    width: 1200rem;
    top: 300rem;
    left: 250rem;
  }

  .timg-non-1 {
    position: absolute;
    top: 410rem;
    left: 350rem;
  }

  .mb-stage {
    top: 730rem;
    left: 490rem;
    width: 1000rem;
    height: 1000rem;
  }

  .mb-panel {
    top: 2008rem;
    right: 200rem;
    width: 1500rem;
    height: 1455rem;
  }

  .const-pick {
    top: 200rem;
    left: 55rem;
    position: absolute;
    width: 560rem;
    font-size: 72rem;
  }

  .mb-upload-wide {
    top: 200rem;
    right: 55rem;
    cursor: pointer;
  }

  .mb-presets {
    top: 425rem;
    left: 40rem;
    width: 1420rem;
    column-gap: 90rem;
    row-gap: 50rem;
  }

  .mb-input {
    font-size: 50rem;
  }

  .mb-download-wide {
    position: static;
    margin-top: auto;
    cursor: pointer;
    width: 1500rem;
  }

  /* рандомный мем ура */

  .random-section {
    height: 91vh;
  }

  .rand-image {
    width: 1020rem;
    height: 1020rem;
    top: 830rem;
    left: 470rem;
  }

  .rnd-frame {
    width: 1500rem;
    height: 1500rem;
    top: 570rem;
    left: 235rem;
  }

  .rnd-black {
    width: 1100rem;
    height: 1100rem;
    top: 800rem;
    left: 365rem;
  }

  .rand-title {
    width: 700rem;
    bottom: 1550rem;
    right: 500rem;
  }
  .rand-btn {
    bottom: 1000rem;
    right: 470rem;
    width: 900rem;
    height: 250rem;
  }
}
