@keyframes Q_ImageOfPartFloat {
  0% {
    top: 5rem;
    right: 0;
  }
  50% {
    top: 0rem;
    right: 5rem;
  }
  75% {
    top: 10rem;
    right: 12rem;
  }
  100% {
    top: 5rem;
    right: 0;
  }
}
