.hd::after {
  content: attr(data-text);
  position: absolute;
  inset: 0;
  z-index: -1;
  pointer-events: none;
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 28rem #000;
}

img {
  display: block;
}

.images {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.txt-img {
  display: inline-block;
  position: absolute;
  width: 48rem;
  height: 48rem;
  margin-left: 24rem;
  margin-right: 24rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hd-img {
  display: inline-block;
  position: absolute;
  width: 106rem;
  height: 106rem;
  margin-left: 24rem;
  margin-right: 24rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* о нас */

/* блок про нас */

.about-us {
  width: 100vw;
  height: 2000rem;
  position: relative;
  overflow: hidden;
  margin-top: 0;
}

.about-title {
  width: 700rem;
  position: absolute;
  top: 200rem;
  left: 450rem;
  color: #fff;
}

.abt-image-1 {
  width: 540rem;
  height: 429rem;
  position: absolute;
  top: 324rem;
  right: 200rem;
  z-index: 2;
  background-image: url(../images/about/img-1.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.abt-image-1::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(rgb(255, 0, 162), rgb(255, 96, 197));
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
  mix-blend-mode: color;
}

.abt-frame-1 {
  width: 820rem;
  height: 829rem;
  position: absolute;
  top: 114rem;
  right: 53rem;
  pointer-events: none;
}

.abt-image-1:hover::after {
  opacity: 0.7;
}

.abt-header {
  width: 600rem;
  height: 68.371rem;
  position: absolute;
  top: 342rem;
  left: 170rem;
}

.timg-1 {
  background-image: url(../images/about/sp3.webp);
}

.timg-2 {
  background-image: url(../images/about/sp2.webp);
}

.timg-non-1 {
  position: absolute;
  top: 200rem;
  left: 400rem;
  background-image: url(../images/about/sp2.webp);
}

.timg-3 {
  background-image: url(../images/about/sp1.webp);
}

.timg-4 {
  background-image: url(../images/about/sp4.webp);
}

.abt-text-1 {
  width: 700.289rem;
  position: absolute;
  top: 451rem;
  left: 170rem;
}

.abt-text-2 {
  width: 900rem;
  position: absolute;
  top: 656rem;
  left: 170rem;
}

.shape {
  position: absolute;
  top: 900rem;
  left: -100rem;
  width: 1300rem;
  max-width: 100%;
  height: auto;
  display: block;
}

.shape__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* блок что такое мем */

.what {
  width: 100vw;
  height: 900rem;
  position: relative;
  overflow: hidden;
  margin-top: 0;
}

.abt-image-2 {
  width: 500rem;
  height: 500rem;
  position: absolute;
  top: 145rem;
  left: 185rem;
  z-index: 2;
  background-image: url(../images/about/img-2.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.abt-frame-2 {
  width: 750rem;
  height: auto;
  position: absolute;
  top: 4rem;
  left: 53rem;
  pointer-events: none;
}

.abt-image-2::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(rgb(255, 0, 162), rgb(255, 96, 197));
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
  mix-blend-mode: color;
}

.abt-image-2:hover::after {
  opacity: 0.7;
}

.abt-header-2-1 {
  width: 275rem;
  position: absolute;
  top: 110rem;
  right: 622rem;
}

.abt-header-2-2 {
  width: 275rem;
  position: absolute;
  top: 110rem;
  right: 342rem;
}

.abt-header-2-3 {
  width: 275rem;
  position: absolute;
  top: 110rem;
  right: 72rem;
}

.timg-1-abt {
  display: inline-block;
  position: absolute;
  width: 48rem;
  height: 48rem;
  margin-left: 24rem;
  margin-right: 24rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  top: 115rem;
  right: 605rem;
  background-image: url(../images/about/sp1.webp);
}

.timg-2-abt {
  display: inline-block;
  position: absolute;
  width: 48rem;
  height: 48rem;
  margin-left: 24rem;
  margin-right: 24rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  top: 115rem;
  right: 335rem;
  background-image: url(../images/about/sp2.webp);
}

.txt-img {
  display: inline-block;
  position: static;
  margin: 0 24rem;
  vertical-align: middle;
}

.abt-text-3 {
  width: 775rem;
  position: absolute;
  top: 240rem;
  right: 120rem;
}

/* блок от меня что требуется */

.info {
  width: 100vw;
  height: 2531rem;
  position: relative;
  overflow: hidden;
  margin-top: -320rem;
}

.abt-image-3 {
  width: 609rem;
  height: 420rem;
  position: absolute;
  top: 335rem;
  right: 150rem;
  z-index: 3;
  background-image: url(../images/about/img-3.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.abt-frame-3 {
  width: 820rem;
  height: 829rem;
  position: absolute;
  top: 114rem;
  right: 53rem;
  pointer-events: none;
}

.abt-image-3::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(rgb(255, 0, 162), rgb(255, 96, 197));
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
  mix-blend-mode: color;
}

.abt-image-3:hover::after {
  opacity: 0.7;
}

.abt-header-3-1 {
  width: 516.693rem;
  position: absolute;
  top: 320rem;
  left: 170rem;
  z-index: 2;
}

.abt-header-3-2 {
  width: 370rem;
  position: absolute;
  top: 320rem;
  left: 510rem;
  z-index: 2;
}

.timg-3-abt {
  display: inline-block;
  position: absolute;
  width: 48rem;
  height: 48rem;
  margin-left: 24rem;
  margin-right: 24rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  top: 325rem;
  left: 417rem;
  background-image: url(../images/about/sp2.webp);
  z-index: 15;
}

.shape-2 {
  position: absolute;
  top: 900rem;
  right: -100rem;
  width: 1300rem;
  max-width: 100%;
  height: auto;
  display: block;
  transform: scaleX(-1);
  transform-origin: center;
}

.shape__video-2 {
  width: 100%;
  height: 97%;
  object-fit: cover;
  display: block;
  transform: scaleX(-1);
  transform-origin: center;
}

.abt-text-4 {
  width: 550rem;
  position: absolute;
  top: 460rem;
  left: 170rem;
}

.abt-header-4-1 {
  width: 430.937rem;
  position: absolute;
  bottom: 630rem;
  left: 995rem;
  z-index: 2;
}

.abt-header-4-2 {
  width: 430.937rem;
  position: absolute;
  bottom: 630rem;
  right: 130rem;
  z-index: 2;
}

.timg-4-abt {
  display: inline-block;
  position: absolute;
  width: 48rem;
  height: 48rem;
  margin-left: 24rem;
  margin-right: 24rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  bottom: 630rem;
  right: 570rem;
  background-image: url(../images/about/sp2.webp);
  z-index: 15;
}

.abt-image-4 {
  width: 555rem;
  height: 400rem;
  position: absolute;
  bottom: 238rem;
  left: 170rem;
  z-index: 2;
  background-image: url(../images/about/img-4.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.abt-image-4::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(rgb(255, 0, 162), rgb(255, 96, 197));
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
  mix-blend-mode: color;
}

.abt-frame-4 {
  width: 820rem;
  height: 829rem;
  position: absolute;
  bottom: 35rem;
  left: 40rem;
  pointer-events: none;
}

.abt-image-4:hover::after {
  opacity: 0.7;
}

.abt-text-5 {
  width: 750rem;
  position: absolute;
  bottom: 440rem;
  right: 170rem;
}

.abt-button-1 {
  bottom: 300rem;
  left: 995rem;
}

.abt-button-2 {
  bottom: 300rem;
  right: 170rem;
}

.abt-button-3 {
  top: 700rem;
  left: 170rem;
}
